<%= form_for [@music, @comment], :html => { :id => "new_comment", :class => "new_comment" } do |f| %>

<p>
  <%= f.text_area :comment, class: "form-control" %>
  <%= f.hidden_field :music_id, :value => @music.id, :id => "music_id" %>
</p>

<p>
  <%= f.submit class: "btn btn-primary", value: "Add my comment" %>
</p>

<% end %>
