<div class="ma-player-sidebar-userinfos">
	<div class="ma-player-sidebar-avatar-wrapper"><%= image_tag(current_user.avatar.url, class: "img-responsive ma-player-sidebar-avatar") %></div>
  <h3><%= current_user.firstname %> <%= current_user.lastname %></h3>
</div>
<div class="ma-player-sidebar-controls container-fluid">
	<div>
		<h3>J'aime les radis</h3>
		<h4>Jean-Michel Saumon</h4>
	</div>
	<div>
		<div class="pull-left">
			<button id="ma-player-play" type="button" class="btn btn-primary"><%= fa_icon "play" %></button>
		</div>
		<div class="">
			<div><small>00:45 / 06:20</small></div>
			<div class="progress">
				<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete (success)</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ma-player-sidebar-menu">
	<ul>
		<li>Playlist <span class="badge">42</span></li>
		<li>Songs <span class="badge">42</span></li>
		<li><a href="#">Upload</a></li>
	</ul>
</div>

