<div class="ma-player container-fluid">
	<%= render 'header' %>
	<div class="row ma-player-body">
		<div class="ma-player-sidebar col-sm-3">
			<%= render 'sidebar' %>
		</div>
		<div class="ma-player-content col-sm-9">
			<%= render 'content' %>
		</div>
	</div>
</div>
