// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
html,
body,
.ma-player {
	height: 100%;
	width: 100%;
}

.ma-player-body {
	position: absolute;
	/*padding-top: 51px;*/

	width: 100%;
	min-height: 100%;
	top: 0;
}

@media (min-width: $screen-sm-min) {
	.ma-player-sidebar,
	.ma-player-content {
		padding-top: 51px !important;
		min-height: 100vh;
	}
	.ma-player-sidebar-menu {
		text-align: left;
	}
}

.ma-player-sidebar {
	border-right: 1px solid $color-border;
	padding: 0;
	padding-top: 51px !important;
	text-align: center;
}

.ma-player-sidebar-userinfos {
	padding: 30px;
}

.ma-player-sidebar-avatar {
	background-color: $color-primary;
}

.ma-player-sidebar-avatar-wrapper {
	border: 1px solid $color-border;
	margin: 0 auto;
	padding: 3px;
	max-height: 200px;
	max-width: 200px;
}

.ma-player-sidebar-menu {
	padding: 20px 0;
}

.ma-player-sidebar-menu ul {
	margin: 0;
	padding: 0;
}

.ma-player-sidebar-menu li {
	border-top: 1px solid $color-border;
	cursor: pointer;
	list-style-type: none;
	margin: 0px 0;
	padding: 10px 30px;
	> span .fa {
		display: none;
	}
	&:last-child {
		border-bottom: 1px solid $color-border;
	}
	&:hover {
		background-color: $table-bg-hover;
		color: $brand-primary;
		> span .fa {
			display: inline;
		}
	}
}

.ma-player-sidebar-controls {
	padding: 0 30px;
	text-align: left;
}

.ma-player-sidebar-controls .progress {
	height: 10px;
}

.ma-player-sidebar-controls .progress-bar {
	-webkit-transition: none;
	transition: none;
}

.ma-player-sidebar-controls button {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.ma-player-content {
	height: 100vh;
}

#test {
	height: 16px;
	width: 20px;
	position: absolute;
	cursor: pointer;
}
