// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

html,
body,
.ma-player {
	background-color: $color-gray-lighter;
	height: 100%;
	width: 100%;
}

table,
tr,
td {
	border-color: $color-border !important;
	vertical-align: middle !important;
}

.navbar {
	background-color: $color-primary;
	border: 0;
}

.navbar a {
	color:white !important;
}

.ma-player-navbar-logo {
	display: inline !important;
	height: 1em;
	width: 1em;
	margin-top: -0.2em;
}

#ma-player-time {
	font-size: 0.8em;
	padding-bottom: 0.4em;
	padding-top: 0.2em;
}

.ma-player-body {
	position: absolute;
	/*padding-top: 51px;*/

	width: 100%;
	min-height: 100%;
	top: 0;
}

@media (min-width: $screen-sm-min) {
	.ma-player-sidebar,
	.ma-player-content {
		padding-top: 51px !important;
		min-height: 100vh;
	}
	.ma-player-sidebar-menu {
		text-align: left;
	}
}

.ma-player-sidebar {
	border-right: 1px solid $color-border;
	padding: 0;
	padding-top: 51px !important;
	text-align: center;
}

.ma-player-sidebar-userinfos {
	padding: 30px;
}

#ma-player-sidebar-cover {
	background-color: $color-primary;
	height: 200px;
	min-height: 200px;
	min-width: 200px;
	width: 200px;
}

#ma-player-sidebar-cover-wrapper {
	border: 1px solid $color-border;
	margin: 0 auto;
	padding: 3px;
	max-height: 208px;
	max-width: 208px;
}

.ma-player-sidebar-menu {
	padding: 20px 0;
}

.ma-player-sidebar-menu ul {
	margin: 0;
	padding: 0;
}

.ma-player-sidebar-menu li {
	border-top: 1px solid $color-border;
	cursor: pointer;
	list-style-type: none;
	margin: 0px 0;
	padding: 10px 30px;
	> span .fa {
		display: none;
	}
	&:last-child {
		border-bottom: 1px solid $color-border;
	}
	&:hover {
		background-color: $table-bg-hover;
		color: $brand-primary;
		> span .fa {
			display: inline;
		}
	}
}

.ma-player-sidebar-controls {
	padding: 0 30px;
	text-align: left;
}

.ma-player-sidebar-controls .progress {
	height: 10px;
}

.ma-player-sidebar-controls .progress-bar {
	-webkit-transition: none;
	transition: none;
}

.ma-player-sidebar-controls button {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.ma-player-content {
	height: 100vh;
}

#ma-player-progressbar-handler {
	background-color: white;
	border: 1px solid #999;
	border-radius: 100%;
	cursor: pointer;
	height: 16px;
	position: absolute;
	width: 16px;
}

#ma-player-progressbar {
	cursor: pointer;
}

.ma-player-list-cover,
.ma-player-list-play {
	border-radius: 0;
	height: 3em;
	width: 3em;
}

td.ma-player-table-cover {
	width: 3em !important;
}

td.ma-player-table-actions {
	width: 10em;
}

td.ma-player-table-actions a {
	font-size: 1.3em;
	padding: 0.3em;
}

.ma-player-table-tr .ma-player-list-cover,
.ma-player-table-tr:hover .ma-player-list-play,
.ma-player-table-tr:hover td.ma-player-table-actions a {
	display: inline-block;
}

.ma-player-table-tr .ma-player-list-play,
.ma-player-table-tr:hover .ma-player-list-cover,
.ma-player-table-tr td.ma-player-table-actions a {
	display: none;
}

form.new_music,
form.edit_music {
	padding: 2em;
}

.input-group {
	padding-bottom: 1em;
}

div.actions {
	padding-top: 2em;
}
