// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
html,
body,
.ma-player {
	height: 100%;
	width: 100%;
}


.ma-player-body {
	position: absolute;
	padding: 20px;
	padding-top: 71px;
	width: 100%;
	min-height: 100%;
}

.ma-player-sidebar {
	/*border-right: $color-border solid 1px;*/
	min-height: 100%;
	text-align: center;
}

.ma-player-sidebar-userinfos {
	padding: 2em;
	text-align: left;
}

.ma-player-sidebar-userinfos img {
	margin: 0 auto;
}
